# ==============================================================================
# SAARTHI-26 Repository CODEOWNERS
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ==============================================================================

# Default code owners for the entire repository
* @purvanshjoshi @YZO-BIT @archittmittal
